<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="spilab.net.humbleview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HumbleViewApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".singleimage.SingleImageActivity"
            android:label="@string/feature_single_image" />
        <activity
            android:name=".scaletype.ScaleTypeActivity"
            android:label="@string/feature_scale_type" />
        <activity
            android:name=".imageslist.ImagesListActivity"
            android:label="@string/feature_images_list" />
        <activity
            android:name=".decodescale.DecodeScale"
            android:label="@string/feature_decode_scale" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/feature_settings" />
        <activity
            android:name=".offline.OfflineActivity"
            android:label="@string/feature_offline" />
        <activity
            android:name=".sizelist.SizeListActivity"
            android:label="@string/feature_size_list" />
    </application>

</manifest>